body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}
/* @media screen and (max-device-width: 1080px) {body {font-size: 48px;}} */
/* @media screen and (max-device-width: 720px) {body {font-size: 36px;}} */
/* @media screen and (max-device-width: 640px) {body {font-size: 32px;}} */
/* @media screen and (max-device-width: 560px) {body {font-size: 28px;}} */
/* @media screen and (max-device-width: 480px) {body {font-size: 24px;}} */
/* @media screen and (max-device-width: 400px) {body {font-size: 20px;}} */
/* @media screen and (max-device-width: 320px) {body {font-size: 16px;}} */

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

#container {
	width: 100%;
	height: 100%;
}

.toolbar {
	height: 6.5%;
}

.toolbar .recharge_close_button {
	float:right;
	width:10%;
	height:100%;
	background-image: url("../images/accountsdk_2_charge_ad_btn_close.png");
	background-size: 100% 100%;
}

.toolbar .recharge_close_button:active {
	background-image: url("../images/accountsdk_2_charge_ad_btn_close_press.png");
}

.content {
	height: 70%;
	width: 90%;
	margin: auto;
	
}

.content .recharge_content {
	width:100%;
	height:100%;
	background-image: url("../images/bk_zi.png");
	background-size: 100% 100%;
}

.recharge_agreement {
	font-family: 黑体;
	position: relative;
	z-index: 100;
	top: -62%;
	width: 100%;
	height: 6%;
}

.recharge_agreement_content {
	float: left;
	width: 50%;
	height: 100%;
	display: block;
}

.recharge_agreement_tip {
	float: right;
	width: 50%;
	height: 100%;
	display: block;
}

.recharge_agreement_content span, .recharge_agreement_tip span {
	display: block;
	height: 100%;
	width: 100%;
	font-size: 0.65rem;
	line-height: 185%;
	color: rgb(72,56,4);
}

.recharge_agreement_checkbox {
	float: left;
	width: 14%;
	height: 100%;
	display: block;
	background-image: url("../images/accountsdk_2_charge_ad_cb_unset.png");
	background-size: 100% 100%;
}

.recharge_agreement_content span {
	text-decoration: underline;
	text-align: center;
}

.recharge_content_text {
	position: relative;
	z-index: 100;
	top: -60%;
}

.content_text_title {
	font-weight: bolder;
}

.content_text_title,.content_text_desc {
	font-family: 黑体;
	text-align: center;
	margin-top: 1.5%;
	font-size: 0.9rem;
}

.content_text_detail {
	width: 60%;
	height: 100%;
	margin: auto;
	margin-top: 1.3%;
}

.content_text_detail_item {
	width: 47%;
	float: left;
	margin-left: 3%;
}

.content_text_detail_item_right {
	float: right;
	text-align: right;
}

.detail_normal {
	font-size: 0.6rem;
	font-family: 黑体;
	color: rgb(72,56,4);
}

.detail_special {
	font-size: 0.75rem;
	color: rgb(83,15,16);
}

.footer {
	height: 20%;
	width: 90%;
	margin: auto;
}

.footer .recharge_button {
	width:80%;
	height:62%;
	margin:auto;
	margin-top:3.5%;
	display:block;
	background-image: url("../images/accountsdk_2_charge_ad_btn_action.png");
	background-size: 100% 100%;
}

.footer .recharge_button:active {
	background-image: url("../images/accountsdk_2_charge_ad_btn_action_press.png");
}
